:root {
    --white-glow: 0 0 10px white, 0 0 20px white;
}

#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 200;

    display: none;
    background-color: rgba(0, 0, 0, 0.8);

    color: aqua;
    text-shadow: var(--white-glow);

}

#popup .content {
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
    min-height: 40vh;

    background-color: rgba(60, 55, 65, 0.95);
    border-radius: 10px;

    padding: 80px;
}

#popup .content>* {
    margin: 15px;
}

#popup input[type="text"] {
    text-align: center;
    min-width: 400px;
    border-radius: 5px;
    height: 1.5rem;
    box-shadow: var(--white-glow);

    border: 2px solid #99f7;
}

#popup input[type="submit"] {
    border: 2px solid azure;
    border-radius: 10px;
    height: 2rem;
    width: 200px;
    background-color: azure;
    box-shadow: var(--white-glow);

    outline: none;

    transition: box-shadow 0.8s, text-shadow 0.6s;
    font-weight: bold;
    color: rgb(30, 10, 50);
    font-family: Roboto;
    font-size: 1rem;
}

#popup input[type="submit"]:hover {
    box-shadow: var(--white-glow), 0 0 30px white;
    text-shadow: 0 0 2px black, 0 0 5px black;
}